body {
    background: #e8e8e8;
    font-family: Arial;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 70px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
}

button {
    background-color: #1a73e8;
    color: white;
    padding: 10px 25px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}